.hero {
  text-align: center;
  padding: 4em 0;
}
.hero-image {
  max-width: 100%;
}
.hero-buttons {
  padding-top: 1em;
}
@media screen and (min-width: 1024px) {
  .hero {
    text-align: left;
    padding: 2em 0;
  }
  .hero .u-wrapper {
    max-width: 1140px;
  }
  .hero-grid {
    display: grid;
    align-items: center;
    grid-template-columns: 420px 1fr;
    grid-template-areas: "content image";
  }
  .hero-imageContainer {
    grid-area: image;
    text-align: right;
  }
  .hero-content {
    grid-area: content;
    position: relative;
    top: -50px;
  }
}
.menu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background: rgba(25,32,64,0.9);
  height: 100vh;
  transform: translateY(-50px);
  transition: 0.3s transform, 0.3s opacity;
  will-change: transform;
}
.menu ul {
  padding: 0;
  list-style: none;
}
.menu li {
  border-top: 1px solid var(--grayishBlue);
}
.menu li:last-child a {
  border: 2px solid #fff;
  border-radius: 0.4em;
  margin-top: 1em;
  padding: 0.7em;
}
.menu a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding: 1em;
  letter-spacing: 2px;
}
.menu a:hover {
  background: rgba(255,255,255,0.95);
  color: var(--veryDarkBlue);
}
.menu-checkbox {
  display: none;
}
.menu-checkbox:checked ~ .header {
  background: rgba(25,32,64,0.9);
}
.menu-checkbox:checked ~ .header .menu-open {
  background: url("../images/icon-close.svg") no-repeat center center;
}
.menu-checkbox:checked ~ .header .menu {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}
.menu-checkbox:checked ~ .header .header-logo {
  background-image: url("../images/logo-bookmark-white.svg");
}
.menu-open {
  user-select: none;
  width: 40px;
  height: 40px;
  display: inline-flex;
  cursor: pointer;
  background: url("../images/icon-hamburger.svg") no-repeat center center;
}
.menu-open:hover {
  background: url("../images/icon-hamburger-hover.svg") no-repeat center center;
  transition: 0.4s background;
}
@media screen and (min-width: 1024px) {
  .menu {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
    position: initial;
    height: auto;
    background: initial;
  }
  .menu a {
    color: var(--veryDarkBlue);
    font-size: 0.9em;
  }
  .menu a:hover {
    color: var(--softRed);
  }
  .menu li {
    border: none;
  }
  .menu li:last-child a {
    border: none;
    border-color: var(--softRed);
    border-radius: 0.5em;
    margin-top: 0;
    padding: 0.7em 2em;
    background: var(--softRed);
    color: #fff;
    margin-left: 2em;
    margin-right: 0;
    border: 2px solid var(--softRed);
    box-shadow: 0 5px 10px -5px var(--grayishBlue);
  }
  .menu li:last-child a:hover {
    background: none;
    border: 2px solid var(--softRed);
    color: var(--softRed);
  }
  .menu ul {
    display: flex;
  }
  .menu-open {
    display: none;
  }
}
.header {
  background: #fff;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: 1em 0;
  transition: 0.3s background;
  z-index: 1;
}
.header-logo {
  display: inline-flex;
  background: url("../images/logo-bookmark.svg") no-repeat center;
  background-size: contain;
  width: 150px;
  height: 40px;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .header {
    padding: 2em 0;
  }
}
.tabs {
  margin-top: 2em;
  border-top: 1px solid #ddd;
}
.tabs-link {
  border-bottom: 1px solid #ddd;
}
.tabs-content {
  display: none;
  flex-direction: column;
}
.tabs-content img {
  max-width: 100%;
  margin-bottom: 1.5em;
}
.tabs-content .u-button {
  padding: 1em 2em;
}
.tabs-grid {
  margin-top: 4em;
}
.tabs label {
  padding: 1.3em 0;
  display: block;
  position: relative;
  cursor: pointer;
}
.tabs label:after {
  display: none;
  content: "";
  background-color: var(--softRed);
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  transform: translateX(50%);
}
.tabs input {
  display: none;
}
.tabs input[id="bookmarking"]:checked ~ ul [for="bookmarking"]:after {
  display: block;
}
.tabs input[id="bookmarking"]:checked ~ .tabs-grid #tab-bookmarking {
  display: flex;
  padding: 0 1em;
}
.tabs input[id="searching"]:checked ~ ul [for="searching"]:after {
  display: block;
}
.tabs input[id="searching"]:checked ~ .tabs-grid #tab-searching {
  display: flex;
  padding: 0 1em;
}
.tabs input[id="sharing"]:checked ~ ul [for="sharing"]:after {
  display: block;
}
.tabs input[id="sharing"]:checked ~ .tabs-grid #tab-sharing {
  display: flex;
  padding: 0 1em;
}
@media screen and (min-width: 1024px) {
  .tabs {
    border-top: none;
    text-align: left;
  }
  .tabs ul {
    display: flex;
    justify-content: center;
  }
  .tabs label {
    padding: 2em 2em;
  }
  .tabs label:hover {
    color: var(--softRed);
  }
  .tabs label:after {
    width: 100%;
    transform: translateX(0);
  }
  .tabs img {
    margin-right: 5em;
  }
  .tabs-content {
    flex-direction: row;
    align-items: center;
  }
}
.features {
  text-align: center;
  padding: 3em 0;
}
.features .u-wrapper {
  max-width: 1140px;
}
.features .u-wrapper >.u-p {
  max-width: 500px;
  margin: 0 auto;
}
.download {
  text-align: center;
  padding: 3em 0;
}
.download .u-wrapper > .u-p {
  margin-bottom: 3em;
  max-width: 500px;
  margin: auto;
}
.download-grid {
  margin: 3em 1em 0;
  display: grid;
  grid-row-gap: 2em;
}
.download-item {
  border-radius: 1em;
  padding: 1.5em;
  padding-top: 2.5em;
  background: url("../images/bg-dots.svg") repeat-x center bottom 100px;
  box-shadow: 0 10px 20px -5px #d7d7d7;
}
.download-item .u-p {
  margin-bottom: 4em;
  margin-top: 0.5rem;
}
.download-item .u-h3 {
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}
@media screen and (min-width: 1024px) {
  .download .u-wrapper {
    max-width: 1140px;
  }
  .download-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2em;
    padding-bottom: 5em;
  }
  .download-item:nth-of-type(2) {
    top: 4em;
    position: relative;
  }
  .download-item:nth-of-type(3) {
    top: 7em;
    position: relative;
  }
}
.carousel {
  max-width: 500px;
  text-align: left;
  margin: 2em auto;
}
.carousel-content[open] .carousel-header::after {
  display: none;
}
.carousel-content[open] .carousel-header::before {
  content: "";
  background-image: url("../images/icon-arrow-open.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 10px;
  display: block;
  float: right;
  margin-right: 12px;
  transform: rotate(180deg);
}
.carousel-header {
  padding: 1.5em 0;
  cursor: pointer;
  list-style: none;
  user-select: none;
  border-bottom: 1px solid #ddd;
  font-size: 0.85em;
}
.carousel-header::-webkit-details-marker {
  display: none;
}
.carousel-header:hover {
  color: var(--softRed);
}
.carousel-header:focus {
  outline: none;
}
.carousel-header::after {
  content: "";
  background-image: url("../images/icon-arrow.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 10px;
  display: block;
  float: right;
  margin-right: 12px;
}
@media screen and (min-width: 1024px) {
  .carousel {
    border-top: 1px solid #ddd;
  }
}
.questions {
  padding: 4em 0 6em;
  text-align: center;
}
.questions .u-wrapper > .u-p {
  max-width: 500px;
  margin: auto;
}
.join {
  background: var(--softBlue);
  color: #fff;
  padding: 3em 0 4em;
  text-align: center;
}
.join small {
  text-transform: uppercase;
  letter-spacing: 3px;
}
@media screen and (min-width: 1024px) {
  .join .u-h4 {
    font-size: 2em;
    max-width: 500px;
    margin: 0.5em auto 1em;
  }
}
.form {
  max-width: 550px;
  margin: auto;
}
.form-input {
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  margin-bottom: 1em;
  border-radius: 0.4em;
  border: none;
  font-size: 0.9rem;
  outline: 0;
  border: 2px solid #fff;
}
.form-validation .u-p {
  color: #fff;
  text-align: left;
}
@media screen and (min-width: 1024px) {
  .form {
    display: flex;
  }
  .form-input {
    margin-bottom: 0;
  }
  .form .form-validation {
    width: 75%;
    flex-shrink: 0;
    margin-right: 1em;
  }
}
.footer {
  background: var(--veryDarkBlue);
  text-align: center;
  padding: 3em 0;
}
.footer a {
  color: #fff;
  text-decoration: none;
}
.footer-social {
  margin-top: 2em;
}
.footer-social a {
  width: 30px;
  height: 30px;
  display: inline-block;
}
.footer-social .twitter {
  mask-image: url("../images/icon-twitter.svg") no-repeat center;
  -webkit-mask: url("../images/icon-twitter.svg") no-repeat center;
}
.footer-social .facebook {
  mask-image: url("../images/icon-facebook.svg") no-repeat center;
  -webkit-mask: url("../images/icon-facebook.svg") no-repeat center;
}
.footer-social .icon {
  display: inline-block;
  background: #fff;
  mask-size: contain;
  -webkit-mask-size: contain;
  margin: 0.5em;
}
.footer-social .icon:hover {
  background: var(--softRed);
}
.footer-menu {
  margin-top: 2em;
}
.footer-menu a {
  display: block;
  padding: 1em;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ddd;
}
.footer-menu a:hover {
  color: var(--softBlue);
}
@media screen and (min-width: 1024px) {
  .footer img {
    margin-right: 1em;
  }
  .footer-content {
    display: flex;
    justify-content: space-between;
  }
  .footer-menu {
    display: flex;
    margin: 0;
  }
  .footer-menu a {
    font-size: 0.9em;
  }
  .footer-menu a:hover {
    color: var(--softRed);
  }
  .footer-primary {
    display: flex;
    align-items: center;
  }
}
:root {
  --softBlue: #5368df;
  --softRed: #fa5757;
  --grayishBlue: #9194a1;
  --veryDarkBlue: #252b46;
}
body {
  font-family: 'Rubik', sans-serif;
  background: #fff;
  color: var(--veryDarkBlue);
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.is-hidden {
  display: none;
}
.u-wrapper {
  max-width: 1280px;
  margin: auto;
  padding: 0 1.5em;
}
.u-h1,
.u-h2,
.u-h4 {
  font-size: 2em;
  font-weight: 500;
}
.u-h2 {
  font-size: 1.5em;
}
.u-h4 {
  font-size: 1.3em;
  margin-top: 0.5em;
}
.u-p {
  color: var(--grayishBlue);
  line-height: 1.8;
  font-size: 0.9em;
}
.u-button {
  background: var(--softBlue);
  color: #fff;
  padding: 1em 1em;
  font-size: 0.9em;
  font-weight: 500;
  border-radius: 0.4em;
  margin-left: 0.5em;
  border: none;
  box-shadow: 0 5px 10px -5px var(--softBlue);
  border: 2px solid var(--softBlue);
  cursor: pointer;
}
.u-button:hover {
  background: #fff;
  border: 2px solid var(--softBlue);
  color: var(--softBlue);
}
.u-button-secondary {
  background: #f7f7f7;
  color: var(--veryDarkBlue);
  padding: 1em 1em;
  font-size: 0.9em;
  font-weight: 500;
  border-radius: 0.5em;
  margin-left: 0.5em;
  border: none;
  box-shadow: 0 5px 10px -5px var(--grayishBlue);
  cursor: pointer;
  border: 2px solid #f7f7f7;
}
.u-button-secondary:hover {
  background: #fff;
  border: 2px solid var(--veryDarkBlue);
}
.u-button:first-of-type {
  margin: 0;
}
.u-button.is-red {
  background: var(--softRed);
  color: #fff;
  margin: 0;
  border: 2px solid var(--softRed);
  height: 100%;
}
.u-button.is-red:hover {
  background: #fff;
  border: 2px solid var(--softRed);
  color: var(--softRed);
  box-shadow: 0 5px 10px -5px rgba(47,47,47,0.502);
}
.u-button.is-fullWidth {
  width: 100%;
}
