.carousel
    max-width 500px
    text-align left
    margin 2em auto
    &-content
        &[open]
            .carousel
                &-header
                    &::after
                        display none
                    &::before
                        content ""
                        background-image url('../images/icon-arrow-open.svg')
                        background-repeat no-repeat
                        width 20px
                        height 10px
                        display block
                        float right
                        margin-right 12px
                        transform rotate(180deg)
    &-header
        padding 1.5em 0
        cursor pointer
        list-style none
        user-select none
        border-bottom 1px solid #ddd
        font-size .85em
        &::-webkit-details-marker
            display none

        &:hover
            color var(--softRed)
        &:focus
            outline none
        &::after   
            content ""
            background-image url('../images/icon-arrow.svg')
            background-repeat no-repeat
            width 20px
            height 10px
            display block
            float right 
            margin-right 12px

    @media screen and (min-width 1024px)
        border-top 1px solid #ddd  
        