.footer
    background var(--veryDarkBlue)
    text-align center
    padding 3em 0
    a
        color white
        text-decoration none
    &-social
        margin-top 2em
        a
            width 30px
            height 30px
            display inline-block
        .twitter
            mask: url('../images/icon-twitter.svg') no-repeat center
            -webkit-mask: url('../images/icon-twitter.svg') no-repeat center
        .facebook
            mask: url('../images/icon-facebook.svg') no-repeat center 
            -webkit-mask: url('../images/icon-facebook.svg') no-repeat center 
        .icon
            display inline-block
            background white
            mask-size contain
            -webkit-mask-size contain
            margin 0.5em
            &:hover
                background var(--softRed)
    &-menu
        margin-top 2em
        a
            display block
            padding 1em
            text-transform uppercase
            letter-spacing 1px
            color #ddd
            &:hover
                color var(--softBlue)
    
    @media screen and (min-width 1024px)
        img 
            margin-right 1em
        &-content
            display flex
            justify-content space-between
        &-menu
            display flex
            margin 0
            a
                font-size 0.9em
                &:hover
                    color var(--softRed)
        &-primary
            display flex
            align-items center
               