@import "./menu.styl"

.header
    // border 1px solid red
    background white
    position sticky
    top 0
    left 0 
    right 0
    padding: 1em 0
    transition: .3s background
    z-index 1
    &-logo
        display: inline-flex
        background url('../images/logo-bookmark.svg') no-repeat center
        background-size: contain
        width: 150px
        height 40px
    &-content
        display flex
        justify-content: space-between 
        align-items: center
        // border 1px solid red

    @media screen and (min-width 1024px)
        padding 2em 0