.join
    background var(--softBlue)
    color white
    padding 3em 0
    text-align center
    small 
        text-transform uppercase
        letter-spacing 3px
.form
    &-input
        width 100%
        padding 1em
        box-sizing border-box
        margin-bottom 1em
        border-radius 10px
        border none
        font-size 0.8rem
        outline 0
        &[placeholder]
            color grey
