@import "./hero.styl"
@import "./header.styl"
@import "./features.styl"
@import "./download.styl"
@import "./questions.styl"
@import "./join.styl"
@import "./footer.styl"

:root 
    --softBlue hsl(231, 69%, 60%)
    --softRed hsl(0, 94%, 66%)
    --grayishBlue hsl(229, 8%, 60%)
    --veryDarkBlue hsl(229, 31%, 21%)

body 
    font-family 'Rubik', sans-serif
    background white
    color var(--veryDarkBlue)
    margin 0
ul
    padding 0
    margin 0
    list-style none
 
.is-hidden
    display none
.u-wrapper
    max-width 1280px 
    margin auto
    padding: 0 1.5em
.u-h1
    font-size 2em
    font-weight 500
.u-h2
    @extends .u-h1
    font-size 1.5em
.u-h4
    @extends .u-h1
    font-size 1.3em
    margin-top .5em
    
.u-p
    color var(--grayishBlue)
    line-height 1.8
    font-size .9em
.u-button
    background var(--softBlue)
    color white
    padding 1em 1em
    font-size .9em
    font-weight 500
    border-radius .4em
    margin-left .5em 
    border none
    box-shadow 0 5px 10px -5px var(--softBlue)
    border 2px solid var(--softBlue)
    cursor pointer
    &:hover
        background white
        border 2px solid var(--softBlue)
        color var(--softBlue)
    &-secondary
        background #f7f7f7
        color var(--veryDarkBlue)
        padding 1em 1em
        font-size .9em
        font-weight 500
        border-radius .5em
        margin-left .5em 
        border none
        box-shadow 0 5px 10px -5px var(--grayishBlue)
        cursor pointer
        border 2px solid #f7f7f7
        &:hover
            background white
            border 2px solid var(--veryDarkBlue)
            
    &:first-of-type
        margin 0
    &.is-red
        background var(--softRed)
        color white
        margin 0
        border 2px solid var(--softRed)
        height 100%
        &:hover
            background white
            border 2px solid var(--softRed)
            color var(--softRed)
            box-shadow 0 5px 10px -5px #2f2f2f80
    &.is-fullWidth
        width 100%
    