.tabs
    // border 1px solid red
    margin-top 2em
    border-top 1px solid #ddd
    &-link
        
        border-bottom 1px solid #ddd
    &-content
        display none
        flex-direction column
        img 
            max-width 100%
            margin-bottom 1.5em
        .u-button
            padding 1em 2em
    &-grid
        margin-top 4em
    label 
        padding 1.3em 0
        display block
        position relative
        cursor pointer
        &:after
            display none
            content ""
            background-color var(--softRed)
            height 5px
            position absolute
            bottom 0
            left 0
            width 50%
            transform translateX(50%) 
    input 
        display none
    input[id="bookmarking"]:checked
        & ~ ul [for="bookmarking"]:after
            display block
        & ~ .tabs-grid #tab-bookmarking
            display flex
            padding 0 1em
    input[id="searching"]:checked 
        & ~ ul [for="searching"]:after
            display block
        & ~ .tabs-grid #tab-searching
            display flex
            padding 0 1em
    input[id="sharing"]:checked 
        & ~ ul [for="sharing"]:after
            display block
        & ~ .tabs-grid #tab-sharing
            display flex
            padding 0 1em
    
    @media screen and (min-width 1024px)
        border-top none
        text-align left
        ul 
            display flex
            justify-content center 
        label
            padding 2em 2em
            &:hover
                color var(--softRed)
            &:after
                width 100%
                transform: translateX(0);
        img 
            margin-right 5em
        &-content
            flex-direction row
            align-items center